spring:
  application:
    name: Books Delivery
  jpa:
    database-platform: org.hibernate.dialect.H2dialect
  datasource:
    username: sa
    password:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2-console

